@charset "UTF-8";

body {
    background-color: black;
    color: aliceblue;
}

h1 {
    text-align: center;
}

#curso-completo {
    color: white;
    text-decoration: none;
}

#curso-completo:hover {
    font-size: 18px;
    color: greenyellow;
    font-weight: bold;
}

