@charset "UTF-8";

@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf) format(opentype);
}

* {
    margin: 0px;
}

body {
    background-color: #84E1AD;
}

/*<header>*/
    header {
        height: 150px;
        background-image:linear-gradient(180deg,#3AD07D,#258651,#113b24);
        color: white;
    }

    header > h1 {
        text-align: center;
    }

    header > p {
        width: 400px;
        margin: auto;
    }

    /*<nav>*/
        nav {
            margin-top: 31px;
            background-color: #1A5C38;
            height: 25px;
        }

        nav > a {
            margin-right: 12px;
            color: white;
            text-decoration: none;
        }
    

/*<main>*/
        main {
            background-color: white;
            margin:auto;
            border-radius: 10px;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.267);
            max-width: 850px;

        }

        /*<section>*/
            section {
                margin: 20px;
            }

            section > h1 {
                font-family: idroid;
                color: #1A5C38;
            }

            section > h2 {
                font-family: idroid;
                color: #1A5C38;
                box-shadow:inset 1px 1px 15px #84E1AD;
            }

            section > p {
                text-indent: 20px;
            }

            section > img {
                width: 100%;
            }

            section > picture {
                width: 100%;
            }
            


            /*<aside>*/

                aside {
                    background-color: #C5EBD6;
                    border-radius: 10px;
                }

                #tituloaside {
                    background-color: #2FA866;
                    color: white;
                    height: 30px;
                    font-weight: bold;
                }

/*<footer>*/
            footer {
                background-color: #1A5C38;
                color: white;

                height: 30px;
            }

            footer > p {
                margin: auto;
                width: 349px;
            }